body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.container{
    width: 10px;
    height: 100%;
 background: linear-gradient(115deg,#3346ec 10%,#41b4f7 90% );
    width: 250px;
    height: 680px;
    border-radius: 15px;
    position: absolute;
    left: 50px;
    padding: 15px;
    margin: 10px;
    top: 5px;
    cursor: pointer;
}
.container .top-img{
    width: 100px;
    height:100px;
    border-radius: 220px;
    position: absolute;
    left: 40px;
    top: 30px;
    cursor: pointer;
}
.container .crypto{
    position: absolute;
    width: 50%;
    height: 100p;
}
.container h1{
    color: azure;
    position: absolute;
    top: 120px;
    font-weight: 700;
    font-size: 25px;
   
    margin: 30px;
    padding-right: 55px;
}
.container h2{
    width: 150px;
    height: 15px;
    font-size: 12px;
    color: azure;
    position: absolute;
    top: 140px;
    right: 40px;
    padding: 10px;
    margin: 35px;
}
.nav-bar{
    position: relative;
   width: 30px;

   left: 100px;
   top: 280px;
   text-decoration: none;
   padding: -2px;
}
.nav-bar a{
  position: relative;
  align-items: center;
 
  color: aliceblue;
  text-decoration: none;
  bottom: 40px;
  height: 80px;
  display: inline;
  
}


.nav-bar a p{
    position: relative;
    left: 45px;
   bottom: 40px;
   width: 300px;
   
   
}
.nav-bar a p:hover{
    color: rgb(37, 240, 240);
}
.content{
    background: linear-gradient(115deg,#3346ec 10%,#41b4f7 90% );
    width: 600px;
    height: 520px;
    position: absolute;
    left: 400px;
   margin-top: 40px;
   border-radius: 10px;
}
.content h1{
    position: absolute;
    left: 220px;
   
}
.content a{
   position: relative;
   display: block;
   color: white;
   padding: 20px;
   top: 95px;
   left: 200px;
   text-decoration: none;
}
.content a p{
    position: relative;
    display: inline;
    padding: 10px;
    margin: 5px;
    bottom:5px;
    text-decoration: none;
}
.about{
    background: linear-gradient(115deg,#3346ec 10%,#41b4f7 90% );
    width: 600px;
    height: 500px;
    position: absolute;
    left: 400px;
    top: 550px;
   margin-top: 40px;
   border-radius: 10px;
}
.about h1{
    position: absolute;
    left: 230px;
  
}
.profile-img{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    left: 200px;
    top: 80px;
}
.about h3{
    width: 300px;
    height: 100px;
    text-align: center;
    position: absolute;
    top: 300px;
    left: 150px;

}
.qualification{
    background: linear-gradient(115deg,#3346ec 10%,#41b4f7 90% );
    width: 600px;
    height: 300px;
    position: absolute;
    left: 400px;
    top: 1100px;
   margin-top: 40px;
   border-radius: 10px;
}
.qualification h1{
    position: absolute;
    left: 200px;
}
.qualification ol{
    position: absolute;
    top: 100px;
    left: 180px;
    color: white;
   width: 280px;
   height: 40px;
    
}
.experience{
    background: linear-gradient(115deg,#3346ec 10%,#41b4f7 90% );
    width: 600px;
    height: 300px;
    position: absolute;
    left: 400px;
    top: 1450px;
   margin-top: 40px;
   border-radius: 10px;  
}
.experience h1{
    width: 300px;
    height: 100px;
    text-align: center;
    position: absolute;
    left: 150px
}
.experience ul{
    position: absolute;
    top: 100px;
    left: 200px;
    color: white;
}
.skills{
    background: linear-gradient(115deg,#3346ec 10%,#41b4f7 90% );
    width: 600px;
    height: 600px;
    position: absolute;
    left: 400px;
    top: 1450px;
   margin-top: 40px;
   border-radius: 10px; 
}
.skills h1{
    width: 300px;
    height: 100px;
    text-align: center;
    position: absolute;
    left: 150px
}
.skills ul{
    position: absolute;
    top: 80px;
    left: 5px;
    color: white;
    margin: 12px;
}
.skills input{
    width: 350px;
    height: 15px;
    position: relative;
    top: 15px;
    
    left: 10px;
    border-radius:10px;
    border: none;
    text-align: center;
    color: white;
}
.skills ul p{

    width: 320px;
    height: 17px;
    background-color: #4e9991;
 position: relative;
 left: 9px;
 bottom: 19px;
 border-radius: 10px;
 text-align: center;

}
.skills ul .p1{

    width: 300px;
    height: 17px;
    background-color: #4e9991;
 position: relative;
 left: 9px;
 bottom: 19px;
 border-radius: 10px;
 text-align: center;
 
}
.skills ul .p2{

    width: 270px;
    height: 17px;
    background-color: #4e9991;
 position: relative;
 left: 9px;
 bottom: 19px;
 border-radius: 10px;
 text-align: center;
 
}
.skills ul .p3{

    width: 260px;
    height: 17px;
    background-color: #4e9991;
 position: relative;
 left: 9px;
 bottom: 19px;
 border-radius: 10px;
 text-align: center;
 
}
.skills ul .p4{

    width: 230px;
    height: 17px;
    background-color: #4e9991;
 position: relative;
 left: 9px;
 bottom: 19px;
 border-radius: 10px;
 text-align: center;
 
}
.skills ul .p5{

    width: 200px;
    height: 17px;
    background-color: #4e9991;
 position: relative;
 left: 9px;
 bottom: 19px;
 border-radius: 10px;
 text-align: center;
 
}



.favlink{
    background: linear-gradient(115deg,#ffffff 10%,#41b4f7 90% );
    width: 600px;
    height: 400px;
    position: absolute;
    left: 400px;
    top: 2100px;
   margin-top: 40px;
   border-radius: 10px;   
}
.favlink h1{
    width: 300px;
    height: 100px;
    text-align: center;
    position: absolute;
    left: 150px
}
.favlink ul{
    position: absolute;
    top: 100px;
    left: 200px;
   
}
.back button{
    position: absolute;
    width: 200px;
    height: 30px;
    top: 450px;
    left: 200px;
    color: rgb(14, 13, 13);
    background:#6876f1 ;
}
.back button:hover{
    background-color: aqua;
}
.back button :active{
    background-color: grey;
    color: gr;
}